* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #f5f5f5;
}

body {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    width: 400px;
    height: fit-content;
    padding: 2rem;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-card {
    display: flex;
    justify-content: space-between;

    #search {
        padding: 4px 8px;
        border: none;
    }

    #searchBtn {
        padding: 4px 8px;
        color: #fff;
        background-color: rgb(145, 145, 255);
        border: none;
    }
}

.weatherCard {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#recent {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 0.5rem;
}