.body-card {
    margin: 1rem;

}

.lower-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem;

    button {
        color: #fff;
        background-color: #000;
        padding: 4px;
    }
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}

.cart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}