:root {}

.card {
    display: flex;
    flex-direction: column;

}

.heading {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}


#staticsCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem;
}

#staticsCard>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}